.terraform/
.env/
**/.terraform/

# Terraform working directory
**/.terraform/

# State files
*.tfstate
*.tfstate.backup

# Sensitive variable files
*.tfvars

# Crash logs
crash.log

# Provider plugins (large binaries)
*.exe
*.zip
*.tar.gz

# Lock file (optional)
.terraform.lock.hcl
**/.terraform/
